@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap");

:root {
  --clr-header: #5ad;
  --fs-header: 4.2rem;

  --clr-info: #ddd;
  --fs-info: 2rem;
  
  --clr-description: #bbb;
  --fs-description: 1rem;

  --clr-anchor: #67f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Work Sans, sans-serif;
  background-color: #222;
  background-image: url("static/images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222b;
}

.content-container {
  max-width: 768px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  overflow-y: auto;
}

#svg-spinner {
  animation: 1.6s loading linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.main-header {
  color: var(--clr-header);
  font-size: var(--fs-header);
  font-weight: 700;
  background: linear-gradient(45deg, #2015cc, #00eeaa 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.loading-info {
  font-size: var(--fs-info);
  color: var(--clr-info);
}

.description {
  font-size: var(--fs-description);
  color: var(--clr-description);
  text-align: center;
  line-height: 1.3rem;
}

.social-media-container {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-anchor {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: var(--clr-anchor);
}
